/*---------------- reset all stiles ----------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  outline: none;
}

/*---------------- styles for header ----------------------*/
header {
  border-bottom: 1px solid #e2e8f0;
}

.header-top {
  display: flex;
  align-items: center;
  height: 52px;
  background-color: #1e293b;
  background-image: linear-gradient(to right, #2c3e53, #1e293b);
}
.header-top__inner {
  display: flex;
  justify-content: end;
}
.header-top__row {
  display: flex;
  gap: 24px;
  margin-right: 5px;
}
.header-top__login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.header-top__login-button:hover {
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.header-top__registered-status {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.header-top__new-ad-btn {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
}

.header-bottom {
  display: flex;
  align-items: center;
  height: 84px;
}
.header-bottom__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
}
.header-bottom__title {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.header-bottom__form {
  display: flex;
  align-items: center;
}
.header-bottom__categories {
  margin-right: 12px;
}
.header-bottom__categories-icon {
  display: none;
}
.header-bottom__categories-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 152px;
  height: 36px;
  padding: 8px 12px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #3b82f6;
  background-color: #ffffff;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  cursor: pointer;
}
.header-bottom__search-input {
  width: 645px;
  height: 36px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 12px;
  border: 1px solid #cbd5e1;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}
.header-bottom__search-input:focus {
  outline: none;
}
.header-bottom__search-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 36px;
  background-color: #3b82f6;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #3b82f6;
}

.header-top__login-button,
.header-top__new-ad-btn,
.header-bottom__search-btn {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.container {
  max-width: 100%;
  width: 1296px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .header-bottom__form {
    width: 650px;
  }
}
@media (max-width: 992px) {
  .header-bottom__form {
    width: 470px;
  }
}
@media (max-width: 768px) {
  .header-bottom__title {
    font-size: 25px;
  }
  .header-bottom__form {
    width: 330px;
  }
  .header-bottom__categories .header-bottom__categories-icon {
    display: flex;
    cursor: pointer;
  }
  .header-bottom__categories button {
    display: none;
  }
}
@media (max-width: 576px) {
  .header-top__inner {
    justify-content: center;
  }
  .header-bottom__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-bottom__title {
    display: none;
  }
}
/*---------------- styles for main ----------------------*/
.container {
  max-width: 100%;
  width: 1296px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  width: 386px;
  height: 24px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style-type: disc;
  color: #64748b;
}
.breadcrumbs li:first-child {
  margin-left: 5px;
  list-style-type: none;
}
.breadcrumbs li {
  margin-left: 20px;
}

.row {
  display: flex;
  margin: 5px 5px 81px 5px;
  font-family: "Inter", sans-serif;
}

.foto-block {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.foto-block__title {
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600;
}
.foto-block__item-foto {
  width: 856px;
  height: 512px;
  background-image: url("../img/Rectangle1.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  background-size: cover;
}
.foto-block__fotos-list {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}
.foto-block__foto-1 {
  background-image: url("../img/Rectangle1.png");
}
.foto-block__foto-2 {
  background-image: url("../img/Rectangle1.png");
}
.foto-block__foto-3 {
  background-image: url("../img/Rectangle1.png");
}
.foto-block__foto-4 {
  background-image: url("../img/Rectangle1.png");
}
.foto-block__foto-5 {
  background-image: url("../img/Rectangle1.png");
}
.foto-block__foto-6 {
  background-image: url("../img/Rectangle1.png");
}
.foto-block__foto-1, .foto-block__foto-2, .foto-block__foto-3, .foto-block__foto-4, .foto-block__foto-5, .foto-block__foto-6 {
  width: 120px;
  height: 84px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.foto-block__foto-1:hover, .foto-block__foto-2:hover, .foto-block__foto-3:hover, .foto-block__foto-4:hover, .foto-block__foto-5:hover, .foto-block__foto-6:hover {
  transition-duration: 0.2s;
  transform: scale(1.1);
}

.desc {
  margin: 16px 0 0 20px;
}
.desc__price {
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600;
}
.desc__show-number-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
.desc__show-number-svg {
  margin-right: 30px;
}
.desc__show-number-span {
  font-size: 20px;
  font-weight: 400;
}
.desc__address {
  margin-top: 40px;
}
.desc__address-h4 {
  font-size: 24px;
  font-weight: 600;
  color: #1e293b;
}
.desc__address-p {
  margin-top: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #1e293b;
}
.desc__address-link {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 4px;
}
.desc__address-span {
  margin-right: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #3b82f6;
}
.desc__item {
  color: #1e293b;
}
.desc__item-h4 {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 600;
}
.desc__item-p {
  margin-top: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #1e293b;
}

@media (max-width: 1200px) {
  .desc__show-number-link {
    width: 250px;
    flex-direction: column;
  }
  .desc__show-number-link .desc__show-number-span {
    margin-top: 5px;
    font-size: 16px;
  }
}
@media (max-width: 1120px) {
  .breadcrumbs {
    margin: 20px auto;
  }
  .row {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 875px) {
  .foto-block__title {
    font-size: 25px;
    margin: 0 auto;
  }
  .foto-block__item-foto {
    margin: 0 auto;
    width: 700px;
    height: 400px;
    background-size: 100%;
  }
  .foto-block__fotos-list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .desc__price {
    font-size: 25px;
  }
  .desc__address-h4,
  .desc__item-h4 {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .foto-block__title {
    margin: 0 auto;
  }
  .foto-block__item-foto {
    margin: 0 auto;
    width: 600px;
    background-size: 100%;
  }
}
@media (max-width: 605px) {
  .foto-block__item-foto {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    background-size: 100%;
  }
}
@media (max-width: 510px) {
  .foto-block__item-foto {
    margin: 0 auto;
    width: 400px;
    height: 200px;
    background-size: 100%;
  }
  .desc__price {
    font-size: 20px;
  }
  .desc__address-h4,
  .desc__item-h4 {
    font-size: 15px;
  }
}
@media (max-width: 408px) {
  .breadcrumbs {
    font-size: 12px;
    margin: 0 auto;
  }
  .foto-block__item-foto {
    margin: 0 auto;
    width: 300px;
    height: 200px;
    background-size: 100%;
  }
  .foto-block__title {
    font-size: 15px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
