/*---------------- reset all stiles ----------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  outline: none;
}

/*---------------- styles for header ----------------------*/
header {
  border-bottom: 1px solid #e2e8f0;
}

.header-top {
  display: flex;
  align-items: center;
  height: 52px;
  background-color: #1e293b;
  background-image: linear-gradient(to right, #2c3e53, #1e293b);
}
.header-top__inner {
  display: flex;
  justify-content: end;
}
.header-top__row {
  display: flex;
  gap: 24px;
  margin-right: 5px;
}
.header-top__login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.header-top__login-button:hover {
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.header-top__registered-status {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.header-top__new-ad-btn {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
}

.header-bottom {
  display: flex;
  align-items: center;
  height: 84px;
}
.header-bottom__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
}
.header-bottom__title {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.header-bottom__form {
  display: flex;
  align-items: center;
}
.header-bottom__categories {
  margin-right: 12px;
}
.header-bottom__categories-icon {
  display: none;
}
.header-bottom__categories-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 152px;
  height: 36px;
  padding: 8px 12px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #3b82f6;
  background-color: #ffffff;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  cursor: pointer;
}
.header-bottom__search-input {
  width: 645px;
  height: 36px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 12px;
  border: 1px solid #cbd5e1;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}
.header-bottom__search-input:focus {
  outline: none;
}
.header-bottom__search-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 36px;
  background-color: #3b82f6;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #3b82f6;
}

.btn {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header-bottom__form {
    width: 650px;
  }
}
@media (max-width: 992px) {
  .header-bottom__form {
    width: 470px;
  }
}
@media (max-width: 768px) {
  .header-bottom__title {
    font-size: 25px;
  }
  .header-bottom__form {
    width: 330px;
  }
  .header-bottom__categories .header-bottom__categories-icon {
    display: flex;
    cursor: pointer;
  }
  .header-bottom__categories button {
    display: none;
  }
}
@media (max-width: 576px) {
  .header-top__inner {
    justify-content: center;
  }
  .header-bottom__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-bottom__title {
    display: none;
  }
}
/*---------------- styles for main ----------------------*/
main {
  display: flex;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  justify-content: space-around;
  width: 386px;
  height: 284;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style-type: disc;
}
.breadcrumbs li:first-child {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
